* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Manrope', sans-serif;
}
body {
	background: #040c18;
}
a {
	color: unset;
	text-decoration: none;
}
.jobify_navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 6rem;
}
.jobify_navbar-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.jobify_navbar-links_logo {
	margin-right: 2rem;
}
.jobify_navbar-links_logo img {
	width: 100px;
	/* height: 1px; */
}

.jobify_navbar-links_container {
	display: flex;
	flex-direction: row;
}
.jobify_navbar-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.material-icons {
	cursor: pointer;
}

.jobify_navbar-links_container p,
.jobify_navbar-sign p,
.jobify_navbar-menu_container p {
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;
}
.jobify_navbar-sign button,
.jobify_navbar-menu_container button {
	padding: 0.5rem 2rem;

	font-family: 'Manrope', sans-serif;
	color: #fff;

	font-weight: 500;
	font-size: 16px;

	border: 0;
	outline: none;
	cursor: pointer;
	background: #ff4820;
	border-radius: 5px;
}
.jobify_navbar-menu {
	margin-left: 1rem;
	display: none;
	flex: 1;
	position: relative;
}
.jobify_navbar-menu svg {
	cursor: pointer;
}
.jobify_navbar-menu_container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: end;
	background: #031b34;
	flex-direction: column;
	position: absolute;
	right: 0;
	padding: 2rem;
	top: 40px;
	min-width: 210px;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.jobify_navbar-menu_container p {
	margin: 1rem 0;
}

.jobify_navbar-menu_container-links-sign {
	display: none;
}


.jobify_header{
   
    
	justify-content: center;
	align-items: center;
	padding: 2rem;
	text-align:center
}
.jobify_header-content{
    display: flex;
    flex:1;
    justify-content:"center";
     align-items: flex-start;
     flex-direction: column;
 
	 justify-content: center;
	align-items: center;
	
    
}
.jobify_header-content h1{
    text-align:center;
    font-weight: 800;
    font-size: 40px;
   
	color: #fff; 
}
.jobify_header-content p{
    font-style: italic;
    font-weight: 400;
	color: #3D6184;

}
.jobify_header-content_input{
    width: 60%;
    margin:2rem 0 1rem;
    display:flex;
    flex-direction: row;
    
}
.jobify_header-content_input input{
    background: #052D56;
    border-radius: 5px 0px 0px 5px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #3D6184;
    flex:1;
    min-height:50px;
    width: 100%;
    border:2px solid var(--color-foter);
   
    padding: 0 2rem;
    outline: none;
	margin:1rem;
    color: #fff;
}
.jobify_header button{
    
    min-height:50px;
    width: 30%;
    background: #FF4820;
border-radius: 5px ;
color: #fff;

font-weight: 700;

line-height: 27px;
cursor: pointer;
border: 0;

}

img{
    display: block;
    margin: auto;
    width: 30%;
}

h1 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 60px;
}

p {
    color: #f0f0f0;
    width: 80%;
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

h2 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
    font-size: 40px;
}

#statisticWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin: 20px;
}

.statistic {
    background-image: linear-gradient(#7210b3, #420b66);
    padding: 30px;
    border-radius: 25px;
    width: 15%;
}

h3 {
    color: #f0f0f0;
    text-align: center;
    font-size: 50px;
}

h4 {
    color: #f0f0f0;
    text-align: center;
    font-size: 15px;
}

#reasonWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin: 20px;
}

.reason {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr;
    background-image: linear-gradient(#7210b3, #420b66);
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    min-height: 20vh;
}

.reason > i {
    margin: 15px 0;
    margin: 25px auto;
    color: white;
}

h5 {
    color: #f0f0f0;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    
}

h6 {
    color: #f0f0f0;
    text-align: center;
    font-size: 15px;
}

.iconEdit1 {
    color: #f0f0f0;
    font-size: 3em;
}

#contactWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(#7210b3, #420b66);
    border-radius: 25px;
    width: 75%;
    margin: 25px auto;
}

iframe {
    width: 90%;
    height: 300px;
    margin: 20px;
    border-radius: 25px;
}

#contactDetails {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin: 10px;
}

.detailHead {
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
    font-size: 2em;
}

.info {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}


th {
    font-weight: normal;
    text-align: center;
    padding: 10px 3px;
    
}
td {
    text-align: center;
    padding: 10px 3px;
}











@media only screen and (max-width: 1300px){
    img{
        display: block;
        margin: auto;
        width: 60%;
    }

    #contactWrapper {
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 760px){
    
 
    img{
        display: block;
        margin: auto;
        width: 80%;
    }
    p {
        color: #f0f0f0;
        width: 80%;
        margin: 30px auto;
        padding: 5px;
        text-align: center;
        font-size: 25px;
    }
    #statisticWrap {
        display: block;
        margin: 20px auto;
    }

    .statistic {
        width: 70%;
        margin: 25px auto;
    }

    #reasonWrap {
        display: block;
        margin: auto;
    }
    
    .reason {
        grid-template-rows: 1fr .7fr 1.5fr;
        width: 80%;
        margin: 25px auto;   
    }

    .reason > i {
        position: relative;
        top: 15%;
    }

    h4, h6 {
        color: #f0f0f0;
        text-align: center;
        font-size: 22px;
        padding-bottom: 25px;
    }

    #contactWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
    
}






/* desktop */
@media screen and (max-width: 1050px) {
	.jobify_navbar-links_container {
		display: none;
	}
	.jobify_navbar-menu {
		display: flex;
		justify-content: flex-end;
	}
	.jobify_navbar-menu_container {
		display: none;
	}

    .jobify_header-content{
        margin: 0 0 3rem
    }
	.column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
	}
	.jobify_cta_content,.jobify_cta_container{
        flex-direction: column;
    }
    .jobify_cta_container {
       margin-top:1rem
    }
    .jobify_cta_container button{
        margin-left:0;
        margin-top: 1rem;
      
    }
	.jobify_job_content_CAT{
		flex-direction: column;
	}
	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}

/* tablet */
@media screen and (max-width: 700px) {
	.jobify_navbar {
		padding: 2rem 4rem;
	}
	.jobify_navbar-menu_container-links-sign {
		display: none;
	}
	.jobify_navbar-menu_container {
		display: none;
	}
	.jobify_header h1{
		font-size: 48px;
		/* line-height: 50px; */
	  }
	  .jobify_header p{
		  font-size: 16px;
		  /* line-height: 50px; */
		}
	  
	  .jobify_header-content_input input ,
	  .jobify_header-content_input button {
		  font-size: 16px;
		 
	  }
	  .column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
		width: 80%;
	}
	.jobify_header button{
		width: 40%;
		margin: 0;
		padding: 0;
	}
	.column1 img{
		width: 60px;
		height: 60px;
	}
	
	.column1{
		padding:0.1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	
	}
	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}
/* mobile */
@media screen and (max-width: 550px) {
	.jobify_navbar {
		padding: 2rem;
	}
	.jobify_navbar-sign {
		display: none;
	}
	.jobify_navbar-menu_container {
		top: 20px;
	}
	.jobify_navbar-menu_container-links-sign {
		display: block;
	}
	.jobify_navbar-menu_container {
		display: none;
	}
	.jobify_header h1{
        font-size: 36px;
        /* line-height: 50px; */
      }
    .jobify_header p{
        font-size: 14px;
        /* line-height: 50px; */
      }
      .jobify_header-content_input input ,
      .jobify_header-content_input button {
         
          line-height :16px;

      }
	  .column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
		width: 100%;
	}
	.jobify_header button{
		width: 60%;
		margin: 0;
		padding: 0;
	}
	.column1 img{
		width: 60px;
		height: 60px;
	}

	.column1{
		padding:0.1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		
	}

	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	  
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}
