@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Manrope', sans-serif;
}
body {
	background: #040c18;
}
a {
	color: unset;
	text-decoration: none;
}
.jobify_navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 6rem;
}
.jobify_navbar-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.jobify_navbar-links_logo {
	margin-right: 2rem;
}
.jobify_navbar-links_logo img {
	width: 100px;
	/* height: 1px; */
}

.jobify_navbar-links_container {
	display: flex;
	flex-direction: row;
}
.jobify_navbar-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.material-icons {
	cursor: pointer;
}

.jobify_navbar-links_container p,
.jobify_navbar-sign p,
.jobify_navbar-menu_container p {
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	margin: 0 1rem;
	cursor: pointer;
}
.jobify_navbar-sign button,
.jobify_navbar-menu_container button {
	padding: 0.5rem 2rem;

	font-family: 'Manrope', sans-serif;
	color: #fff;

	font-weight: 500;
	font-size: 16px;

	border: 0;
	outline: none;
	cursor: pointer;
	background: #ff4820;
	border-radius: 5px;
}
.jobify_navbar-menu {
	margin-left: 1rem;
	display: none;
	flex: 1;
	position: relative;
}
.jobify_navbar-menu svg {
	cursor: pointer;
}
.jobify_navbar-menu_container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: end;
	background: #031b34;
	flex-direction: column;
	position: absolute;
	right: 0;
	padding: 2rem;
	top: 40px;
	min-width: 210px;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.jobify_navbar-menu_container p {
	margin: 1rem 0;
}

.jobify_navbar-menu_container-links-sign {
	display: none;
}


.jobify_header{
   
    
	justify-content: center;
	align-items: center;
	padding: 2rem;
	text-align:center
}
.jobify_header-content{
    display: flex;
    flex:1;
    justify-content:"center";
     align-items: flex-start;
     flex-direction: column;
 
	 justify-content: center;
	align-items: center;
	
    
}
.jobify_header-content h1{
    text-align:center;
    font-weight: 800;
    font-size: 40px;
   
	color: #fff; 
}
.jobify_header-content p{
    font-style: italic;
    font-weight: 400;
	color: #3D6184;

}
.jobify_header-content_input{
    width: 60%;
    margin:2rem 0 1rem;
    display:flex;
    flex-direction: row;
    
}
.jobify_header-content_input input{
    background: #052D56;
    border-radius: 5px 0px 0px 5px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #3D6184;
    flex:1;
    min-height:50px;
    width: 100%;
    border:2px solid var(--color-foter);
   
    padding: 0 2rem;
    outline: none;
	margin:1rem;
    color: #fff;
}
.jobify_header button{
    
    min-height:50px;
    width: 30%;
    background: #FF4820;
border-radius: 5px ;
color: #fff;

font-weight: 700;

line-height: 27px;
cursor: pointer;
border: 0;

}
.column1 {

    width: 80.3%;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	padding:1rem;
    margin-bottom: 16px;
    margin:12px;
	color: #fff;
	justify-content: space-around;
   align-items:center ;
   text-align: left;
    border-radius: 10;
	background-color: #052D56;
	box-shadow: 10px 10px 10px 10px 052D56;
	
  }
  
  .column1:hover{
	transition: all .100s ease-in-out;
	transform: scale(1.05);
	
  }
  
  .column1 img{
	width: 100px;
	height: 100px;
	align-items: flex-start;
	
  }

  
  .column1 h3{
align-items: flex-start;
  }
  .jobSlot{
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
  }
  
 .column1 button{
	align-items: flex-end;
 }
 .jobify_job_content{
	
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	padding: 1rem;
	
 }
 .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
 


.footer-basic {
	padding:40px 0;
	color:#fff;
	background-color: #031b34;

	width: 100%;
	height: 30%;
	bottom:0
	
  }
  
  .footer-basic ul{
	display: flex;
	justify-content: center;
  }
  
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:2px solid #ccc;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
  }
  
.hidden{
	display: none
}



#home{
	
	height: 40%;
}

.jobify_header .btnty{
	background-color: #ccc;
	color: #052D56;
}
.jobify_header .btnty:hover{
	cursor: pointer;
	background-color: #ff4820;
	color: #fff;
}

/* Login Section */
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}


#CTA{
	width: 15%;
	background: #040C18;
	border-radius: 100px;
}

#CTA:hover{
	background: #f0f0f0;
	color: #040C18;
}
.jobify_job_content_CAT{
	color: #040C18;
}
.CTAPANEL{
	display:flex ;
	align-items: flex-start;
	text-align: left;
	padding: 2rem;
	margin: 2rem;
	justify-content: space-between;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #040C18;
    ;
}

.login .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

@media(max-width: 770px) {
    .login .container {
        flex-direction: column;
        box-shadow: none;
    }

    .login .col-left,
    .login .col-right {
        width: 100%;
        margin: 0;
        clip-path: none;
        padding: unset;
    }

    .login .col-right {
        padding: 30px;
    }

}

.login .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login .login-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.login .login-text p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .btn {
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    /* color: #ffffff; */
    outline: none;
    /* border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff; */
    transition: .3s;
}

.login .login-text .btn:hover {
    color: #040C18;
    ;
    box-shadow: inset 150px 0 0 0 #ffffff;
}

.login .login-form {
    position: relative;
    width: 100%;
}

.login .login-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.login .login-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}

.login .login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login .login-form p a {
    color: #040C18;
    font-size: 14px;
    text-decoration: none;
}

.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.login .login-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.login .login-form p:last-child label {
    width: 60%;
    float: left;
}

.login .login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;

    border-radius: 30px;
}

.login .login-form input:focus {
    border-color: #ff574e;
}

.login .login-form button:hover,
.login .login-form input[type=submit]:hover {
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #040C18;
    ;
}

.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #2aa15f;
    font-size: 16px;
    border: 1px solid #040C18;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #040C18;
    transition: .4s;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;

}


#wrapper img{
    display: block;
    margin: auto;
    width: 500px;
}

#wrapper h1 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 60px;
}

#wrapper p {
    color: #f0f0f0;
    width: 80%;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

#wrapper h2 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 5px;
    font-size: 40px;
}

#statisticWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin: 20px;
}

.statistic {
    background-image: linear-gradient(#7210b3, #420b66);
    padding: 30px;
    border-radius: 25px;
    width: 15%;
}

#wrapper h3 {
    color: #f0f0f0;
    text-align: center;
    font-size: 50px;
}

#wrapper h4 {
    color: #f0f0f0;
    text-align: center;
}

#reasonWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin: 20px;
}

.reason {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    background-image: linear-gradient(#7210b3, #420b66);
    padding: 10px 15px;
    border-radius: 25px;
    width: 20%;
    min-height: 20vh;
}

.reason > i {
    margin: 15px 0;
    margin: 25px auto;
    color: white;
}

#wrapper h5 {
    color: #f0f0f0;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    
}

#wrapper h6 {
    color: #f0f0f0;
    text-align: center;
    font-size: 15px;
}

.jobify_job_section{
	
	margin:1rem;
	display: flex; 
	 flex-direction: row;
	
	
}

.jobify_job_classA{
	display: flex;
	flex:0.4;
	padding: 0.5rem;
	background: #031b34;
	color: #ffff;
	flex-direction: column;
}

.jobify_job_classA p{
	margin-top:5px
}


.jobify_job_classB{
	display: flex;
	flex:0.6;
	margin-left: 10px;
	padding: 0.5rem;
	background: #031b34;
	color: #ffff;
	flex-direction: column;
}
.jobify_job_classB .jobify_classB_row{
	flex-direction: row;
	display: flex;
	margin-top: 10px;
}
.jobify_classB_row button{
	width:max-content;
	color: #fff;
	background-color: #ff4820;
	border-radius: 5px;
	font-weight: bold;
	
	padding: 11px;
	cursor: pointer;
}
.jobify_job_classB p{
	font-size: small;
}
.highted{
	color:#ccc ;
	margin-top:5px;
	margin-bottom: 5px;
}

.jobify_job_classB .jobify_job_badge{
	padding: 5px;
	border: #ccc solid 2px; 
	margin-top: 5px;
	width:fit-content;
	background-color: #aaa;
	font-size: small;
	font-style: italic;
	color: #031b34;
	font-weight: bolder;
	border-Radius:5px
  }
  .highlited_para{
	font-size: small;
	color: #aaa;
	font-weight: bold;
	font-style: italic;
	
	line-height: 2;
  }
.column-list {

    width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	
    margin-bottom: 16px;
    margin-top: 16px;
 padding-top:16px;
 padding-bottom:16px;
	color: #fff;
	/* justify-content: space-around; */

   
    border-radius: 10;
	background-color: #052D56;
	box-shadow: 10px 10px 10px 10px 052D56;
	
  }
  .column-list img{
	margin-left:1rem;
	
	width: 20px;
  }
  .heart-o{
	background-color:#ccc;
	padding: 10px;
	margin-left:0.2rem;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .column-list button{
	width:max-content;
	color: #fff;
	background-color: #ff4820;
	border-radius: 5px;
	font-weight: bold;
	margin-left:1rem;
	padding: 10px;
	cursor: pointer;
  }
  .btn-report{
	width:max-content;
	color: #040C18;
	background-color: #aaa;
	border-radius: 5px;
	font-weight: bold;
	
	padding: 10px;
	cursor: pointer;
  }
  .column-list .jobify_job_badge{
	padding: 2px;
	border: #ccc solid 2px; 
	margin-top: 5px;
	width:fit-content;
  }
  .jobify_description{
	margin-top:5px
  }
  .jobify_description_p{
	font-style: italic;
	font-size: small;
	line-height: 1.8;
	color: #aaa;
  }
 .jobify_solid_badge{
	font-size: x-small;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 0.9;
 }
 
 
 
 
/* desktop */
@media screen and (max-width: 1050px) {
	.jobify_navbar-links_container {
		display: none;
	}
	.jobify_navbar-menu {
		display: flex;
		justify-content: flex-end;
	}
	.jobify_navbar-menu_container {
		display: none;
	}

    .jobify_header-content{
        margin: 0 0 3rem
    }
	.column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
	}
	.jobify_cta_content,.jobify_cta_container{
        flex-direction: column;
    }
    .jobify_cta_container {
       margin-top:1rem
    }
    .jobify_cta_container button{
        margin-left:0;
        margin-top: 1rem;
      
    }
	.jobify_job_content_CAT{
		flex-direction: column;
	}
	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}

/* tablet */
@media screen and (max-width: 700px) {
	.jobify_navbar {
		padding: 2rem 4rem;
	}
	.jobify_navbar-menu_container-links-sign {
		display: none;
	}
	.jobify_navbar-menu_container {
		display: none;
	}
	.jobify_header h1{
		font-size: 48px;
		/* line-height: 50px; */
	  }
	  .jobify_header p{
		  font-size: 16px;
		  /* line-height: 50px; */
		}
	  
	  .jobify_header-content_input input ,
	  .jobify_header-content_input button {
		  font-size: 16px;
		 
	  }
	  .column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
		width: 80%;
	}
	.jobify_header button{
		width: 40%;
		margin: 0;
		padding: 0;
	}
	.column1 img{
		width: 60px;
		height: 60px;
	}
	
	.column1{
		padding:0.1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	
	}
	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}
/* mobile */
@media screen and (max-width: 550px) {
	.jobify_navbar {
		padding: 2rem;
	}
	.jobify_navbar-sign {
		display: none;
	}
	.jobify_navbar-menu_container {
		top: 20px;
	}
	.jobify_navbar-menu_container-links-sign {
		display: block;
	}
	.jobify_navbar-menu_container {
		display: none;
	}
	.jobify_header h1{
        font-size: 36px;
        /* line-height: 50px; */
      }
    .jobify_header p{
        font-size: 14px;
        /* line-height: 50px; */
      }
      .jobify_header-content_input input ,
      .jobify_header-content_input button {
         
          line-height :16px;

      }
	  .column1{
		flex-direction: column;
		width: 50.3%;
		padding: 2rem;
		justify-content: center;
		align-items:center ;
	}
	.jobify_header-content_input{
		flex-direction: column;
		width: 100%;
	}
	.jobify_header button{
		width: 60%;
		margin: 0;
		padding: 0;
	}
	.column1 img{
		width: 60px;
		height: 60px;
	}

	.column1{
		padding:0.1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		
	}

	.CTAPANEL{
		flex-direction: column;
		padding: 1rem;
		margin:1rem
	}
	.CTAPANEL button{
		width: 100%;
	}
	  
	.jobify_job_section{
		flex-direction: column;
		
	}
	.jobify_job_classB{
		margin-left: 0;
		margin-top:  10px;
	}
}
