<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
	</head>

	<div class="footer-basic">
		<footer>
			<div class="social">
				<a href="#"><i class="icon ion-social-instagram"></i></a
				><a href="#"><i class="icon ion-social-snapchat"></i></a
				><a href="#"><i class="icon ion-social-twitter"></i></a
				><a href="#"><i class="icon ion-social-facebook"></i></a>
			</div>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="#">Home</a></li>
				<li class="list-inline-item"><a href="#">About Us</a></li>
				<li class="list-inline-item"><a href="#">Team</a></li>
				<li class="list-inline-item"><a href="#">Feature</a></li>
				<li class="list-inline-item"><a href="#">Blog</a></li>
			</ul>
			<p class="copyright">Jobify © 2022</p>
		</footer>
	</div>
</html>
