<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="stylesheet" href="../CSS/style.css" />
	</head>
	<body>
		<div class="jobify_navbar">
			<div class="jobify_navbar-links">
				<div class="jobify_navbar-links_logo">
					<a href="../index.html">
						<img src="../asset/images/Jobify.png" />
					</a>
				</div>
				<div class="jobify_navbar-links_container">
					<p>
						<a href="../index.html">Home</a>
					</p>
					<p>
						<a href="../container/aboutUs.html">About us</a>
					</p>
					<p>
						<a href="#ourTeam">Our Team</a>
					</p>
					<p>
						<a href="#features">Features</a>
					</p>
					<p>
						<a href="#blog">Blog</a>
					</p>
				</div>
				<div class="jobify_navbar-sign">
					<p><a href="../container/login.html">sign in</a></p>
					<button type="button">Sign up</button>
				</div>
				<div class="jobify_navbar-menu">
					<i class="material-icons" style="color: white" onclick="toggleMenu()">&#xe8ee;</i>

					<div class="jobify_navbar-menu_container scale-up-center">
						<div class="jobify_navbar-menu_container-links">
							<p>
								<a href="../index.html">Home</a>
							</p>
							<p>
								<a href="../container/aboutUs.html">About us?</a>
							</p>
							<p>
								<a href="#ourTeam">Our Team</a>
							</p>
							<p>
								<a href="../container/job.html">Job List</a>
							</p>
							<p>
								<a href="#blog">Blog</a>
							</p>
							<div class="jobify_navbar-menu_container-links-sign">
								<p>sign in</p>
								<button type="button">Sign up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="home"></div>
	</body>
	<footer></footer>
	<script src="../javascript/javascript.js"></script>
</html>
